data_ROM/Damage_Locations.csv
data_ROM/Damage_test_TS.csv
data_ROM/a.npy
data_ROM/actuators_locations.csv
data_ROM/Constructing_Detection_Data.py
data_ROM/d.csv
data_ROM/Damage_train_TS.csv
data_ROM/data.csv
data_ROM/data.npy
data_ROM/ex.py
data_ROM/example.py
data_ROM/f_final_d_test_aug.npy
data_ROM/f_final_d_train_aug.npy
data_ROM/f_final_h_test_aug.npy
data_ROM/f_final_h_train_aug.npy
data_ROM/Features Preparation.py
data_ROM/Health_test_TS.csv
data_ROM/Healthy_train_TS.csv
data_ROM/images.npy
data_ROM/ROM_Data_csv_test.csv
data_ROM/ROM_Data_csv.csv
data_ROM/s1_labels.npy
data_ROM/s1_lt.npy
data_ROM/s1_test.npy
data_ROM/s1_train.npy
data_ROM/s2_labels.npy
data_ROM/s2_lt.npy
data_ROM/s2_test.npy
data_ROM/s2_train.npy
data_ROM/s3_labels.npy
data_ROM/s3_lt.npy
data_ROM/s3_test.npy
data_ROM/s3_train.npy
data_ROM/s4_labels.npy
data_ROM/s4_lt.npy
data_ROM/s4_test.npy
data_ROM/s5_labels.npy
data_ROM/s4_train.npy
data_ROM/s5_lt.npy
data_ROM/s5_test.npy
data_ROM/s5_train.npy
data_ROM/s6_labels.npy
data_ROM/s6_lt.npy
data_ROM/s6_test.npy
data_ROM/s8_train.npy
data_ROM/s8_test.npy
data_ROM/s8_lt.npy
data_ROM/s8_labels.npy
data_ROM/s7_train.npy
data_ROM/s7_test.npy
data_ROM/s7_lt.npy
data_ROM/s7_labels.npy
data_ROM/s6_train.npy
data_ROM/s9_labels.npy
data_ROM/s9_lt.npy
data_ROM/s9_test.npy
data_ROM/s9_train.npy
data_ROM/s10_labels.npy
data_ROM/s10_lt.npy
data_ROM/s10_test.npy
data_ROM/s10_train.npy
data_ROM/testing_data.py
